/* 
    Created on : 3 oct. 2014, 18:49:00
    Author     : Sylvio
*/

*{
    font-family: 'Kalinga';/*'Century Gothic';*/
    text-decoration: none; /* Soulignement des liens, ... */
    
    background-image: none;
}

body{
    margin: auto;
}

.contain_corps{
    max-width: 1100px;
    margin-top: 50px;
    padding-top: 50px;
}

.title_logo{
    padding: 0 10px 0 0;
}

.navbar-collapse li{
    
    margin-bottom: -2px; /*Peremt la bonne taille de boutons */
}
.title_logo img{
    height: 100%;
}

#choice_screen{
    background-color: #02b7aa;
    color: white;
}

#choice_screen .logo{
    display: block;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 25px;
}

#choice_screen p{
    margin: auto;
    margin-bottom: 30px;
    max-width: 550px;
    text-align: justify;
    line-height: 120%;
    font-style: italic;
    font-size: 1.1em;
}

#choice_screen .container{
    max-width: 500px;
    margin: auto;
}

#choice_screen .container .img_left{
    width: 150px;
    cursor: pointer;
}

#choice_screen .img_right{
    float: right;
    width: 200px;
    cursor: pointer;
}


/*  -------------- Accueil ------------- */
#home{
    background-color: #B7E4E1;
}

#home .row .img-circle{
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
}

#home .jumbotron{
    height: 450px;
    /*overflow-y: visible;*/
    overflow: hidden;
    padding: 0;
    margin-top: 55px;
}

#home .jumbotron img{
    width: 100%;
    /*position: relative;
    z-index: 0;*/
}

#home .jumbotron h1{
    margin-top: 130px;
    margin-left: 25px;
    font-size: 3em;
    width: 550px;
}

#home .jumbotron p{
    margin-top: 230px;
    margin-left: 25px;
    width: 550px;
}

#home .jumbotron p, #home .jumbotron h1{
    position: absolute;
}

#home .container{
    max-width: 1100px;
}


#home .main_contain{
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    /*background-color: yellow;*/
    border: 2px solid rgba(0,100,100, 0.5);
}

#home .row{
    position: relative;
    /*background-color: rgba(255,255,255, 0.9);
    z-index: 999;*/
}



/* ------------------------- Rechercher ------------------*/

#search h1{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3.4em;
}

#search p{
    font-size: 1.4em;
}

#search #form_search{
    max-width: 900px;
    min-width: 310px;
    margin: auto;
}

#search .input-group img{
    height: 20px;
}

#search .input-group{
    margin-bottom: 20px;
}

#search .inpt-date{
    max-width: 310px;
}

#search th{
    text-align: center;
}
#search tr{
    text-align: center;
    cursor: pointer;
}


#search td{
    vertical-align: middle;
}

#search .btn-search{
    font-size: 1.5em;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#search .good-mark{
    font-weight: bold;
    font-size: 1.5em;
    color: #3FF93F;
}

#search .bad-mark{
    font-weight: bold;
    font-size: 1.5em;
    color: #F71911;
}

#search .circle-img{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    max-width:90px;
    height:90px;
    background:url("../resources/profil.png") no-repeat 0px 0px;
    background-position: center;
    background-size: 90px 90px;
    margin: auto;
    border: solid 1px #b9def0;
}

/* ----------------------------- Page Propose ------------------- */

#propose h1{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3.4em;
}

#propose p.help{
    font-size: 1.4em;
    text-align: justify;
}


#propose .input-group img{
    height: 20px;
}

#propose .panel{
    max-width: 800px;
    margin: auto;
    padding-bottom: 25px;
}

#propose .panel-heading{
    margin-bottom: 30px;
}

#propose .panel label{
    display: block;
    margin: auto;
    text-align:center;
    font-size: 1.3em;
}

#propose #pane-state{
    border-color: #5cb85c;
}

#propose #pane-state .panel-heading{
    background-color: #5cb85c;
}

#propose #pane-list{
    border-color: #d9534f;
}

#propose #pane-list .panel-heading{
    background-color: #d9534f;
    border: #d9534f;
}

#propose .btn-group, #propose .input-group{
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
}

#propose .btn-valide{
    display: block;
    margin: auto;
    width: 180px;
    /*background-color: #5cb85c;*/
}


/* ------------------------------ Page connexion ---------------- */

#connection form{
    max-width:300px;
}

#connection .input-group{
    margin-bottom: 12px;
}


#connection .input-group img{
    height: 20px;
}

#connection form input[type="submit"]{
    display: block;
    margin: auto;
}